<div>
    <form action="/change">
        <input type="hidden" name="id" value='<%=@recipes.id%>'>
        <input type="text" name="title" placeholder="Title" value='<%=@recipes.title%>'>
        <input type="text" name="prep_time" placeholder="Prep Time" value='<%=@recipes.prep_time%>'>
        <input type="text" name="cook_time" placeholder="Cook Time" value='<%=@recipes.cook_time%>'>
        <input type="text" name="creator" placeholder="Creator" value='<%=@recipes.creator%>'>
        <select name="difficulty">
                <option value="easy">Easy</option>
                <option value="moderate">Moderate</option>
                <option value="hard">Hard</option>
        </select>
        <textarea name="ingredients" placeholder="Ingredient List"><%=@recipes.ingredients%></textarea>
        <textarea name="directions" placeholder="Recipe"><%=@recipes.directions%></textarea>
        <input type="text" name='picture' placeholder="Image url" value='<%=@recipes.picture%>'>
        <input type="submit" value="Save">
    </form>
</div>